@charset "UTF-8";

.futura{
	font-family: 'Roboto', sans-serif;
	/* font-family: futura-pt, sans-serif; */
	font-weight: 400;
	font-style: normal;
}
.futura_b{
	font-weight: bold;
}
.fheader_wrap {
	background-color: #fff;
	box-shadow: 0px 1px 8px 1px #ccc;
	padding: 15px 0;
}
.fheader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	max-width: 800px;
	/*flex-wrap: wrap;*/
}
img.flogo {
	width: 160px;
}

 input.search{
	border: none;
	background-color: #F1F1F1;
	border-radius: 5px;
	padding: 6px 10px;
	font-size: 1.4rem;
	margin: 0 20px;
	flex:1;
}
.fnav{
	display: flex;
	/* margin-left: auto; */
	/* order: -1; */
	flex-basis: 100%;
	flex:1 0 100%;
	order:2;
	margin: 1rem -1rem -1rem -1rem;
	padding: 1rem;
	justify-content: center;
}
.fnav li a{
	margin-right: 20px;
	font-size: 1.4rem;
}
.fnav li a:hover{
	text-decoration: underline;
}
.track_btn{
	background-color: #CCE3C0;
	display: inline-block;
	padding: 2px 15px;
	border-radius: 5px;
}

.container{
	margin: 0 auto;
	max-width: 800px;
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}
.item {
	width: 100px;
	height: 100px;
	background-color: red;
	border-radius: 5px;
	box-shadow: 1px 1px 8px 1px #ccc;
}
.container .item:nth-of-type(2){
	margin-left: 20px;
}
.sm {
	width: 50px;
}
.space {
	flex-grow: 1;
}

/*------------------------------
      form
--------------------------------*/
input, button, textarea, select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input, button{
	width: 100%;
	border: 1px solid #B0B0B1;
	background-color: #F9F9F9;
	border-radius: 5px;
	padding: 8px 10px; 
	font-size: 1.6rem;
}
.container2 {
	margin: 0 auto;
	max-width: 800px;
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}
.container2 .item2:first-child{
	/*flex-grow: 1;*/
	flex: 3;
	margin-right: 1rem;
}
.container2 .item2:last-child{
	flex:1.5;
}
.container2 .item2 button{
	background-color: #42C3AF;
	color: #fff;
	border: 1px solid #42C3AF;
}

/*------------------------------
      minmax
--------------------------------*/
.container3 {
	margin: 0 auto;
	max-width: 800px;
	margin-top: 50px;
}
.o-grid {
  display: grid;
  grid-template-columns: minmax(200px, 500px) 1fr 1fr;
  grid-gap: 1rem;
}
.og_area{
	height: 100px;
	border-radius: 5px;
}
.og1{
	background-color: #C8BFF7;
}
.og2{
	background-color: #F3E4C2;
}
.og3{
	background-color: #F3BFD3;
}

@media (max-width: 767px){
	.o-grid{
		/*display: block;*/
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	}
	.og_area{
		/*width: 100%;*/
	}
}

/*------------------------------
      whwrap
--------------------------------*/
.whwrap{
	margin: 0 auto;
	margin-top: 100px;
	max-width: 500px;
	background-color: #eae8e8;
	padding: 30px;
}
.whwrap p{
	/*width: max-content;*/
	width: min-content;
	/*width: fit-content;*/
}




